@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --clr-primary: #081a3f;
  --primary: white;
  --secondary: #0a0a0a;
} */

body {
  background-color: var(primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
